* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* TAGS */
main {
    display: flex;
  }

/* Classes */
.header {
    /* border: 5px solid rgb(129, 0, 123); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgb(50, 167, 145);
    color: white;
  }
  
  .title-header {
      font-weight: bolder;
      font-size: 1.8em;
  }
  
  .trybewarts-login {
    /* background-color: aqua; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-header {
    /* border: 1px solid blue; */
    width: 50px;
    height: 50px;
    margin-left: 10px;
    display: flex;
  }
  
  .login {
    /* border: 3px solid red; */
    padding: 0 10px;
    display: flex;
    
    align-items: center;
  }
  
  .trybewarts-login input {
    /* border: 1px solid rgb(0, 255, 42); */
    border: none;
    border-radius: 8px;
    height: 30px;
    margin-right: 10px;
    padding-left: 15px;
  }
  
  /* IDs */
  
  #enter-button {
    
    background-color: rgb(77, 2, 163);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 150px;
    height: 2.3em;
  }

  #evaluation-form {
      display: flex;
      width: 675px;
      flex-direction: column;
  }


  



